@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Poppins";
    color: #333333;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.essai {
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer {
    background-color: #f1f1f1;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

/* Initial styles for elements before scrolling */
.block {
    transform: scale(0.5); /* Start scale at 0.5 */
    opacity: 0; /* Start fully transparent */
    transition: transform 0.2s linear, opacity 0.2s linear; /* Faster transition for more reactive effect */
}

.block2 {
    transform: translateX(300px); /* Start 300px to the right */
    opacity: 0; /* Start fully transparent */
    transition: transform 0.2s linear, opacity 0.2s linear; /* Faster transition for more reactive effect */
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes appearleft {
    from {
        opacity: 0;
        transform: translateX(300px); /* Start 300px to the right */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@-webkit-keyframes appearleft {
    from {
        opacity: 0;
        transform: translateX(300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
